body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
}
form {
    padding: 30px;
}
.container1 {
    width: 400px;
    height: 500px;
    margin: 100px auto;
    padding: 20px;
    background-color: #ffffff;
    border:1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

}
.title{
    text-align: center;
    margin-bottom: 20px;

}
.input-field{
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc ;
    border-radius: 3px;
    margin-bottom: 15px;

}
.radio{
    
    margin-bottom: 50px;
}
.login{
    
    width: 100%;
    padding: 8px;
    background-color: #007bff;
    color: #ffffff;
    border: 0;
    cursor: pointer;
    
    margin-bottom: 50px;
    
}
.login:hover{
    background-color: #0056b3;
    
}
.log{
    font-size: 15px;
    
    
    
    
}